{% load static %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css'%}" type="text/css" />
  <link rel="stylesheet" href="{% static 'layout/styles/base.css'%}" type="text/css" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Default Title {% endblock %}</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Recipe.com <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Share a Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">User Name (log out)</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
