{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-8">
      {% for recipe in recipes %}
        <div class="card recipe">
          <a href="{% url 'detail' recipe.recipe_name %}"><h2>{{ recipe.recipe_name }}</h2></a>
          <img src="media/{{ recipe.recipe_image }}">
          <p>{{ recipe.recipe_content }}<p>
            <span>{{ recipe.created_date }} - </span>
            <span>{{ recipe.recipe_vote }}/10 - ({{ recipe.recipe_vote_count }} Votes) - </span>
            <span>{{ recipe.recipe_like }} Likes - </span>
            <span>by {{ recipe.recipe_user }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="card pt-3 px-4 mb-4">
        <form class="row" method="GET">
          <input class="form-control col-md-8" type="text" name="search" placeholder="search something">
          <button class="btn btn-outline-success my-2 my-sm-0 col-md-4" type="submit">Search</button>
        </form>
      </div>
      <div class="card p-4">
        Malzemeler
      </div>
    </div>
  </div>

</div>

{% endblock %}
